---
import Layout from '../layouts/Layout.astro';
import Countdown from '../components/Countdown.svelte';
import Speakers from '../components/Speakers.svelte';
import Bg from '../components/Bg.astro';
import Schedule from '../components/Schedule.svelte';
import Goals from '../components/Goals.astro';


---

<Layout  title="Sustainability Summit" class="relative">
	<Bg ></Bg>
	
<main class=" relative py-24 min-h-screen flex flex-col items-center justify-center overflow-hidden" id="home" >
	<!-- <div class="absolute -z-10 w-full h-full top-0 left-0 bg-black bg-opacity-30"></div> -->
	<div class=" absolute md:w-[70vh] md:h-[70vh] w-44 h-44 md:-right-24 animate-spin-slow md:-bottom-40 z-30 -right-20 -bottom-20"> <img src="img/Asset 1.svg" alt=""></div>

	<div id="default-carousel" class="absolute  bg-cover bg-center  bg-no-repeat w-full h-full top-0 left-0 " data-carousel="slide">
		<div class=" min-h-screen overflow-hidden relative ">
			
			
			<div class="hidden duration-700  transition-none my-auto" data-carousel-item>
				<div class="relative min-h-screen">
					
					<div class="absolute -z-10 w-full h-full top-0 left-0 bg-slate-500 bg-opacity-60"></div>

					<div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 flex my-auto left-0 " style="background-image:url('/img/AdobeStock_605722550.jpeg')"></div>  

					<div class="z-5 w-full min-h-screen justify-center container mx-auto text-white flex flex-col my-auto space-y-6 md:px-10 px-5">
						<div  class="text-5xl md:text-6xl font-black font-goals md:w-1/2 w-full">
							ROADMAP TO 2030
						</div>

						<div class="w-fit flex p-3 text-center border border-white font-data">
							<div class="  flex my-auto flex-col border-r border-white p-2">
								<div class=" font-data space-y-2 ">
									<p class="md:text-2xl text-lg font-bold">28<sup>th</sup> </p>
									<p class="md:text-base font-bold">October 2023</p>
								</div>
							</div>
							<div  class="flex-col  flex my-auto  text-center p-2">
								<p class="md:text-xl text-lg font-bold">Digital Hub</p>
								<p class="md:text-base font-bold">Kochi</p>
							
							</div>
						</div>
						
						<div class=" md:max-w-4xl flex bg-white w-fit p-4 group cursor-pointer">
							<a  class="font-data px-10 text-base text-blue-900 md:text-lg flex font-semibold" href="/" target="_blank">GET INVOLVED </a>
							
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex group-hover:translate-x-2 w-6 h-6  duration-500 text-blue-900">
								<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
							</svg>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="hidden duration-700  transition-none my-auto" data-carousel-item>
				<div class="relative min-h-screen">
					
					<div class="absolute -z-10 w-full h-full top-0 left-0 bg-slate-500 bg-opacity-60"></div>

					<div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 flex my-auto left-0 " style="background-image:url('/sdg_summit/img/AdobeStock_605722550.jpeg')"></div>  

					<div class="z-5 w-full min-h-screen justify-center container mx-auto text-white flex flex-col my-auto space-y-6 md:px-10 px-5">
						<div  class="text-5xl md:text-6xl font-black font-goals md:w-1/2 w-full">
							INDIA’S LARGEST SUMMIT FOR SUSTAINABILITY
						</div>

						<div class="w-fit flex p-3 text-center border border-white font-data">
							<div class="  flex my-auto flex-col border-r border-white p-2">
								<div class=" font-data space-y-2 ">
									<p class="md:text-2xl text-lg font-bold">28<sup>th</sup> </p>
									<p class="md:text-base font-bold">October 2023</p>
								</div>
							</div>
							<div  class="flex-col  flex my-auto  text-center p-2">
								<p class="md:text-xl text-lg font-bold">Digital Hub</p>
								<p class="md:text-base font-bold">Kochi</p>
							
							</div>
						</div>
						
						<div class=" md:max-w-4xl flex bg-white w-fit p-4 group cursor-pointer">
							<a  class="font-data px-10 text-base text-blue-900 md:text-lg flex font-semibold" href="/" target="_blank">GET INVOLVED </a>
							
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex group-hover:translate-x-2 w-6 h-6  duration-500 text-blue-900">
								<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
							</svg>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="hidden duration-700  transition-none my-auto" data-carousel-item>
				<div class="relative min-h-screen">
					
					<div class="absolute -z-10 w-full h-full top-0 left-0 bg-slate-500 bg-opacity-60"></div>

					<div class="absolute -z-20 bg-cover bg-center bg-no-repeat w-full h-full top-0 flex my-auto left-0 " style="background-image:url('/sdg_summit/img/AdobeStock_605722550.jpeg')"></div>  

					<div class="z-5 w-full min-h-screen justify-center container mx-auto text-white flex flex-col my-auto space-y-6 md:px-10 px-5">
						<div  class="text-5xl md:text-6xl font-black font-goals md:w-1/2 w-full">
							Unleashing Action for a Sustainable Future
						</div>

						<div class="w-fit flex p-3 text-center border border-white font-data">
							<div class="  flex my-auto flex-col border-r border-white p-2">
								<div class=" font-data space-y-2 ">
									<p class="md:text-2xl text-lg font-bold">28<sup>th</sup> </p>
									<p class="md:text-base font-bold">October 2023</p>
								</div>
							</div>
							<div  class="flex-col  flex my-auto  text-center p-2">
								<p class="md:text-xl text-lg font-bold">Digital Hub</p>
								<p class="md:text-base font-bold">Kochi</p>
							
							</div>
						</div>
						
						<div class=" md:max-w-4xl flex bg-white w-fit p-4 group cursor-pointer">
							<a  class="font-data px-10 text-base text-blue-900 md:text-lg flex font-semibold" href="/" target="_blank">GET INVOLVED </a>
							
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex group-hover:translate-x-2 w-6 h-6  duration-500 text-blue-900 ">
								<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
							</svg>
							
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</main>


<!-- about -->
  
	<section class="py-24 px-10" id="about">
		<div class="flex md:flex-row flex-col">
			<div class="md:w-1/2 w-full flex my-auto">
				<img src="img/about1.jpeg" class=" mx-auto my-auto flex">
			</div>
			<div class="flex flex-col  mx-auto text-center  md:w-1/2 w-full md:text-xl text-lg my-auto md:pr-10 pr-0">
				<h1 class=" md:text-5xl text-3xl font-goals text-center pb-10"  data-aos="fade-right" data-aos-duration="3000">About</h1>
				
				<p class=" leading-8 text-justify font-data transition ease-linear"data-aos="fade-down"
				data-aos-easing="linear"
				data-aos-duration="1500"  data-aos="fade-right" data-aos-duration="3000">
				SDG IMPACT Summit is a premier event and provides a vibrant forum for sustainability enthusiasts, innovators and students to come together and discuss solutions to the urgent global concerns of our day. We hope to encourage partnerships and inspire workable solutions in a number of fields through interesting panel discussions, masterclasses, sustainable fleas, enlightening keynotes and interactive workshops. Join us at the Kerala Startup Mission for this  much-anticipated SDG Impact Summit.
				</p>
			</div>
		</div>
	</section>
	
<!-- statistics -->

	<div class="relative">
		<div class="absolute inset-0 z-0">
		  <video src="img/stait.mp4" autoplay loop muted class="w-full h-full object-cover"></video>
		</div>
		<div class="relative z-10 p-8 py-24">
			<div class="absolute -z-10 bg-black bg-opacity-50 w-full h-full top-0 left-0"></div>
			<div class="container mx-auto">
				<div class=" mx-auto flex flex-col">
	
					<div class="count-container text-white mx-auto grid grid-cols-2 md:grid-cols-5 gap-9">
						<div class="flex flex-col space-y-6">
							<div class=" flex">
								<span class="count flex flex-row md:text-5xl text-3xl font-bold" data-start="450" data-end="500"></span><span class=" md:text-3xl text-xl font-bold">+</span>
							</div>
							<div class="">Participants</div>
						</div>
						<div class="flex flex-col space-y-6">
							<div class=" flex">
								<span class="count flex flex-row md:text-5xl text-3xl font-bold" data-start="0" data-end="25"></span><span class=" md:text-3xl text-xl font-bold">+</span>
							</div>
							<div class="">Speakers</div>
						</div>
						
						<div class="flex flex-col space-y-6">
							<div class=" flex">
								<span class="count flex flex-row md:text-5xl text-3xl font-bold" data-start="0" data-end="15"></span><span class=" md:text-3xl text-xl font-bold">+</span>
							</div>
							<div class="">Programmes</div>
						</div>
	
						<div class="flex flex-col space-y-6">
							<div class=" flex">
								<span class="count flex flex-row md:text-5xl text-3xl font-bold" data-start="0" data-end="10"></span><span class=" md:text-3xl text-xl font-bold">+</span>
							</div>
							<div class="">Partners</div>
						</div>
	
						<div class="flex flex-col space-y-6">
							<div class=" flex">
								<span class="count flex flex-row md:text-5xl text-3xl font-bold" data-start="0" data-end="5"></span><span class=" md:text-3xl text-xl font-bold">+</span>
							</div>
							<div class="">SDG Showcases</div>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- objectives -->
	<section class="mt-24 py-24 px-12 bg-[#003845] font-data text-white">
		<h1 class=" md:text-5xl text-3xl font-goals pb-10 text-center">Objectives</h1>
		<div class=" grid md:grid-cols-3 grid-cols-2 md:gap-16 gap-8">
			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Global Awareness</h1>
				<p >Boost understanding worldwide about the importance of meeting the UN's Sustainable Development Goals by 2030.</p>
			</div>

			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Fuel Partnerships</h1>
				<p >
					Spark conversation and cooperation between global governments, organizations, businesses, and communities for SDG advancement.				</p>
			</div>

			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Spotlight Success Stories</h1>
				<p >
					Offer a platform to showcase inspiring stories and effective strategies in SDG implementation.
				</p>
			</div>

			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Promote Responsible Investments</h1>
				<p >
					Encourage discussions around ethical financing and investment to back the SDGs.
				</p>
			</div>

			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Policy Discussion</h1>
				<p >
					Facilitate debates on necessary policy shifts to support the journey towards achieving SDGs.
				</p>
			</div>

			<div class=" space-y-4">
				<h1 class=" md:text-3xl text-xl text-white  font-bold">Empower the Youth</h1>
				<p >
					Ignite passion among young leaders to contribute actively towards achieving the SDGs.
				</p>
			</div>

		</div>

		<div class=" flex mx-auto pt-16 md:w-1/2 w-full text-center justify-center text-lg md:text-2xl ">
			<h1 class=" shadow-md">Join us at the SDG Impact Summit to be a part of these conversations and initiatives. Let's work together to build a sustainable and inclusive future.</h1>
		</div>
	</section>


	

	
<!-- programs -->

	<section class="px-10 py-24">
		<h1 class=" md:text-5xl text-3xl font-goals pb-10 text-center">Programmes</h1>

		<div class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 items-center justify-center  px-4 gap-5 text-center mx-auto">
		
			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-2  h-full   w-full  flex-col font-data hidden group-hover:flex lg:text-sm text-lg">
					
					Insightful panel discussions featuring experts, stakeholders, and thought leaders driving impactful conversations on key sustainability topics.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/discussion.png" class="pb-2 w-8 h-8">
					Panel Discussions
				</div>
			</div>

			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-2  h-full   w-full  flex-col font-data hidden group-hover:flex lg:text-sm text-lg ">
					Informative talks by renowned sustainability experts, sharing valuable insights and innovative solutions for a more sustainable and resilient future.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/talk.png" class="pb-2 w-8 h-8">
					Talks
				</div>
			</div>

			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-3  h-full   w-full  flex-col font-data hidden group-hover:flex lg:text-sm text-lg">
					Interactive master classes led by industry experts, providing in-depth knowledge and practical skills to drive sustainability initiatives and foster positive change.</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/class.png" class="pb-2 w-8 h-8">
					Master Classes
				</div>
			</div>
			
			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-3  h-full   w-full  flex-col font-data hidden group-hover:flex  lg:text-sm text-lg">
					Engaging workshops offering hands-on learning experiences, collaborative problem-solving, and actionable strategies for advancing sustainability goals and practices</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/workshop.png" class="pb-2 w-8 h-8">
					Workshops
				</div>
			</div>

			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-2  h-full   w-full  flex-col font-data hidden group-hover:flex  text-lg lg:text-sm">
					Product showcases highlighting innovative and sustainable solutions, technologies, and initiatives driving positive environmental and social impact.</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/product.png" class="pb-2 w-8 h-8">
					Product Showcases
				</div>
			</div>
			
			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-2  h-full   w-full  flex-col font-data hidden group-hover:flex  text-lg lg:text-sm">
					Facilitating connections between sustainability-focused entrepreneurs and investors to drive funding and support for impactful ventures and initiatives.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/investor2.png" class="pb-2 w-8 h-8">
					Investor Connect
				</div>
			</div>

			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-2  h-full   w-full  flex-col font-data hidden group-hover:flex  text-lg lg:text-sm">
					A vibrant marketplace showcasing eco-friendly products, services, and initiatives that promote sustainable living and conscious consumerism.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/sustainability.png" class="pb-2 w-8 h-8">
					Sustainable Flea
				</div>
			</div>

			<div class=" cursor-pointer relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-3  h-full   w-full  flex-col font-data hidden group-hover:flex  text-lg lg:text-sm">
					Engage in meaningful conversations, forge valuable connections, and explore collaborative opportunities with like-minded individuals in dedicated networking spaces.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/networking.png" class="pb-2 w-8 h-8">
					Networking Zones
				</div>
			</div>


			<div class=" cursor-pointer  relative  group bg-cover   text-sm text-white  h-64 items-center justify-center flex bg-panel ">
				<div class=" bg-green-700 bg-opacity-90 p-3  h-full   w-full  flex-col font-data hidden group-hover:flex  text-lg lg:text-sm">
					Recognizing outstanding individuals, organizations, and initiatives for their remarkable contributions and achievements in advancing sustainability practices.
				</div>
				<div class=" bg-green-700 bg-opacity-90 uppercase md:text-lg text-base font-semibold h-1/3  bottom-0 inset-x-0 absolute w-full items-center justify-center flex flex-col font-data">
					<img src="img/students.png" class="pb-2 w-8 h-8">
					Sustainability Awards
				</div>
			</div>
			
		  </div>
		  
	</section>




	

<!-- 17 goals -->


<Goals></Goals>




<!-- target -->
	  
	  <section class=" bg-[#007aff] mb-24">
		<div class=" mx-auto flex flex-col p-8">
			<h1 class=" md:text-5xl text-3xl font-goals pb-10 text-center text-white">Target Audience</h1>
			
			<div class="px-4 grid grid-cols-2 gap-2 md:grid-cols-6 text-center text-white font-data md:text-lg text-base">
				<div class=" flex flex-col text-center">
					<img src="img/students.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto pb-2">
					Students
				</div>
				
				<div class=" flex flex-col text-center">
					<img src="img/startups.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto pb-2">
					Startups
				</div>

				<div class=" flex flex-col text-center">
					<img src="img/Entrepreneur.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto pb-2">
					Aspiring Entrepreneurs
				</div>
				<div class=" flex flex-col text-center">
					<img src="img/professional.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto pb-2">
					Professionals
				</div>
				<div class=" flex flex-col text-center">
					<img src="img/mentor.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto pb-2">
					Mentors
				</div>
				<div class=" flex flex-col text-center">
					<img src="img/investor2.png" class="md:w-14 md:h-14  flex  h-10 w-10 text-center mx-auto  pb-2">
					Investors
				</div>
			  </div>
			
		</div>
	</section>




<!-- speakers -->
<!-- 
	   <section class="py-24">
		<div class="container mx-auto">
			<Speakers client:load></Speakers>
		</div>
	</section> -->




<!-- agenda -->

<!-- <section id="schedule" class="pt-10 pb-20 px-5 bg-[#1a1a1a] text-white" >
		<div class="mx-auto container">
		  <div class="font-gols font-bold text-4xl text-center mb-10">Agenda</div>
	  
		  <Schedule client:load></Schedule>
		</div>
	</section> -->
	
	



<!-- footer -->

<section class="py-16 bg-[#003845] relative " id="contact">
	
	<div class=" flex flex-col lg:flex-row  px-4 justify-between">
		
		<div class=" lg:w-1/6 flex flex-col  ">
			<img src="img/SDG Summit Logo-White1.svg" class=" lg:w-2/3 w-1/2  text-center mx-auto ">
			<p class="  text-white  leading-6 text-sm mx-auto lg:w-full w-1/2  text-center font-data">Digital Hub<br> Kerala Technology Innovation Zone (KTIZ), Kinfra Hi-Tech Park, Kalamassery, Kochi, Kerala, India</p>
		</div>


		

		<div class=" flex flex-col   lg:w-2/6 my-auto mx-auto">
			<div class=" text-white flex my-auto flex-col">
			<p class=" text-white font-data pb-2 ">For any queries or information regarding the Summit</p>

				<div class="  font-data space-y-3">
					<p>Nasif NM</p>
				<a href="mailto:nasif@startupmission.in" class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
				  </svg>
				  nasif@startupmission.in</a>

				  <a href="tel:9496820883" class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
					<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
				  </svg>
				  
				  9496820883</a>
				</div>

			</div>
		</div>

		<div class=" flex flex-col   lg:w-2/6 my-auto mx-auto">
			<div class=" text-white flex my-auto flex-col">
			<p class=" text-white font-data pb-2 ">For any queries or information regarding the Summit</p>

				<div class="  font-data space-y-3">
					<p>Nasif NM</p>
				<a href="mailto:nasif@startupmission.in" class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
				  </svg>
				  nasif@startupmission.in</a>

				  <a href="tel:9496820883" class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
					<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
				  </svg>
				  
				  9496820883</a>
				</div>

				<div class=" text-center mx-auto text-xs text-white pt-8 flex flex-row items-center justify-center space-x-2">
					<a href="https://www.instagram.com/keralastartupmission/" target="_blank"><img src="img/instagram.svg" class="w-6 h-6 flex"></a>
					<a href="https://www.linkedin.com/company/kerala-startup-mission/" target="_blank"><img src="img/linkedin.svg" class="w-6 h-6 flex"></a>
					<a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fstartup_mission" target="_blank"><img src="img/twitter.svg" class="w-6 h-6 flex"></a>
					<a href="https://www.facebook.com/keralastartupmission" target="_blank"><img src="img/facebook-logo-2019.svg" class="w-6 h-6 flex"></a>
				</div>
			</div>
		</div>

	</div>
	<div class=" flex md:flex-row flex-col justify-between">
		<div class=" h-80 flex items-center md:w-1/3 w-full  px-5 py-10">
			<div class="mapouter"><div class="gmap_canvas">
				<iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=digital hub kochi&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
		</div>
		<ul class=" md:text-sm  font-data flex md:flex-row flex-col px-5 py-10 mx-auto">

			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100  w-fit h-fit">
			  <a href="/" class="md:text-white text-white font-bold hover:text-black uppercase">Home</a>
			</li>
  
			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100 w-fit h-fit">
			  <a href="#about" class="md:text-white text-white font-bold hover:text-black uppercase">About</a>
			</li>
  
			
			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100 w-fit h-fit">
			  <a href="/" class="md:text-white text-white font-bold hover:text-black uppercase">Register</a>
			</li>
  
			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100 w-fit h-fit">
			  <a href="/" class="md:text-white text-white font-bold hover:text-black uppercase">Faq</a>
			</li>
  
			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100 w-fit h-fit">
			  <a href="/" class="md:text-white text-white font-bold hover:text-black uppercase">Tickets</a>
			</li>
  
			<li class="px-5 py-2 transform hover:bg-gray-400 transition duration-500 hover:scale-100 w-fit h-fit">
			  <a href="#contact" class="md:text-white text-white font-bold hover:text-black uppercase">Contact</a>
			</li>
		  </ul>
	</div>
	

	<div class=" text-center mx-auto text-xs text-white inset-x-0 bottom-4 absolute pb-1 font-data">All right reserved © 2023 | <a href="https://startupmission.kerala.gov.in/" target="_blank">Kerala Startup Mission</a></div>
</section>
	 





<div class=" fixed inset-x-0 bottom-0">
	<img src="img/SDG Colors-Resized.svg" alt=""> 
</div>
</Layout>

<style>
	.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

</style>

<style is:global>
	@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite;
}
</style>

<style>
	/* CSS to style the animated elements */
[data-aos] {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

[data-aos].aos-animate {
  opacity: 1;
}

</style>


<script is:inline>
// Function to animate the count-up effect for multiple numbers
function animateValues() {
  const countElements = document.querySelectorAll('.count');

  countElements.forEach((countElement) => {
    const start = parseInt(countElement.getAttribute('data-start'));
    const end = parseInt(countElement.getAttribute('data-end'));
    const duration = 5000; // Duration for each count-up animation

    animateValue(countElement, start, end, duration);
  });
}

// Function to animate the count-up effect
function animateValue(element, start, end, duration) {
  const range = end - start;
  const increment = end > start ? 1 : -1;
  const frameDuration = Math.abs(Math.floor(duration / range));
  let current = start;

  const animate = () => {
    current += increment;
    element.textContent = current;

    if ((increment > 0 && current < end) || (increment < 0 && current > end)) {
      setTimeout(animate, frameDuration);
    }
  };

  animate();
}

// Call the animateValues function to start the animation
animateValues();


</script>