


<div class=" flex md:flex-row flex-col md:space-x-6 space-x-0 px-10 font-data">
  <div class="container mx-auto md:w-1/2 w-full">
    <div class="py-8">
      <ul class="space-y-4">
        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(1)">
            <span class="text-base font-normal   ">What is the SDG Impact Summit 2023?</span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer1" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">SDG Impact Summit 2023 is a global gathering of thought leaders, innovators, and pioneers who are driving change to address the Sustainable Development Goals (SDGs) established by the United Nations. This Summit is organized by the Kerala Startup Mission and will take place at the Digital Hub in Kochi, India on October 28, 2023.</p>
          </div>
        </li>
       


        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(2)">
            <span class="text-base font-normal ">What is the focus of this year's summit?</span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer2" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">While the exact focus can vary each year, the overall theme typically revolves around the UN's 17 Sustainable Development Goals. These range from ending poverty and hunger to improving education and ensuring environmental sustainability. The 2023 edition may have a specific focus or be broad-based covering multiple SDGs.</p>
          </div>
        </li>


        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(3)">
            <span class="text-base font-normal ">Who is organizing the SDG Impact Summit?</span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer3" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">The SDG Impact Summit is being organized by the Kerala Startup Mission, a flagship initiative of the Government of Kerala, India, that aims to foster a vibrant startup ecosystem in the region.
            </p>
          </div>
        </li>


        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(4)">
            <span class="text-base font-normal ">Where is the SDG Impact Summit 2023 taking place?
            </span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer4" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">The Summit is taking place at the Digital Hub in Kochi, Kerala, India.</p>
          </div>
        </li>


        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(5)">
            <span class="text-base font-normal ">How can I attend the SDG Impact Summit 2023?
            </span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer5" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">Details about attending the summit, including registration links and ticket prices, will typically be available on the event website. In light of the ongoing global health crisis, there may be both in-person and virtual attendance options.
            </p>
          </div>
        </li>



        <!-- Add more <li> elements for additional questions -->
      </ul>
    </div>
  </div>
  <div class="container mx-auto md:w-1/2 w-full">
    <div class="py-8">
      <ul class="space-y-4">
        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(6)">
            <span class="text-sm font-normal ">Are there opportunities for startups to pitch or showcase their solutions at the event?
            </span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer6" class="hidden mt-2 px-6 py-2">
            <p class="text-gray-700 text-justify">Many such events offer opportunities for startups to pitch their ideas or showcase their innovative solutions, especially those aligned with the SDGs. You should check the official event website or contact the organizers for specific details about this year's summit.
            </p>
          </div>
        </li>
       

        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(7)">
            <span class="text-base font-normal ">Who are the speakers at the event?</span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer7" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">The list of speakers typically includes a diverse array of thought leaders, innovators, entrepreneurs, and policy-makers from around the globe. The specific lineup for the SDG Impact Summit 2023 should be available on the official event website closer to the date.</p>
          </div>
        </li>
        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(8)">
            <span class="text-base font-normal ">Can I volunteer at the event?
            </span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer8" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">Many such events welcome volunteers. Interested individuals should check the event website or contact the event organizers for information about volunteering opportunities.
            </p>
          </div>
        </li>


        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(9)">
            <span class="text-base font-normal ">How can I sponsor/partner the event?</span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer9" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">Sponsorship details, including levels of sponsorship and associated benefits, are generally available on the event website or by contacting the event organizers.
            </p>
          </div>
        </li>
        

        <li>
          <button class="flex justify-between items-center w-full focus:outline-none bg-gray-100 p-4 rounded-md"
            onclick="toggleAnswer(10)">
            <span class="text-base font-normal ">Is the event accessible to individuals with disabilities?
            </span>
            <svg class="w-4 h-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.293 6.707a1 1 0 011.414 0L10 9.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </button>
          <div id="answer10" class="hidden mt-2 pl-6">
            <p class="text-gray-700 text-justify">Organizers typically strive to make such events inclusive and accessible. Specific details about accessibility at the Digital Hub venue should be available on the event website or by contacting the event organizers.
            </p>
          </div>
        </li>
        <!-- Add more <li> elements for additional questions -->
      </ul>
    </div>
  </div>
</div>
<script is:inline>
  function toggleAnswer(questionNumber) {
    const answer = document.getElementById(`answer${questionNumber}`);
    const isHidden = answer.classList.contains('hidden');
    const allAnswers = document.querySelectorAll('div[id^="answer"]');

    // Close all answers
    allAnswers.forEach((ans) => {
      ans.classList.add('hidden');
    });

    // Open the clicked answer if it was hidden
    if (isHidden) {
      answer.classList.remove('hidden');
    }
  }
</script>